
branches:
  only:
    - master
    - develop

sudo: required

dist: trusty

language: node_js

node_js:
  - stable
  - 8
  - 6

cache:
  yarn: true

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - oracle-java8-set-default

env:
  global:
    - DISPLAY=:99.0
    - CHROME_BIN=/usr/bin/google-chrome

before_install: true

install:
  - yarn global add codecov
  - yarn

before_script:
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

script:
  - yarn unit
  - yarn api
  - yarn e2e

before_deploy:
  - yarn build

deploy:
  provider: pages
  github-token: $GH_TOKEN
  local-dir: dist
  skip_cleanup: true
  on:
    all_branches: true
    node: stable

after_deploy:
  - codecov

after_script: true
