
branches:
  only:
    - master

sudo: required

dist: trusty

language: node_js

node_js:
  - stable
  - 8

cache:
  yarn: true

services: mongodb

addons:

env:

before_install:

install:
  - yarn
  - cd server && yarn

before_script:

script:
  - yarn test # api test
  - cd ..
  - yarn unit

before_deploy:
  - yarn build

deploy:
  provider: pages
  github-token: $GH_TOKEN
  local-dir: dist
  skip_cleanup: true
  on:
    all_branches: true
    node: stable

after_deploy:

after_script:
