
branches:
  only:
    - master

sudo: required

dist: trusty

language: node_js

node_js:
  - stable

cache:
  yarn: true

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - oracle-java8-set-default

env:
  global:
    - DISPLAY=:99.0
    - CHROME_BIN=/usr/bin/google-chrome

before_install:

install:
  - yarn

before_script:
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

script:
  - yarn test

after_script:
  - "sh -e /etc/init.d/vxfb stop"

before_deploy:
  - yarn build

deploy:
  provider: pages
  github-token: $GH_TOKEN
  local-dir: dist
  skip_cleanup: true
