
*
  box-sizing inherit

body
  box-sizing border-box
  color $color-text-primary
  font-size $font-size-base

  &::-webkit-scrollbar-track
    border-radius 6px
    background-color #F5F5F5
    -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)

  &::-webkit-scrollbar
    width 8px
    background-color #F5F5F5

  &::-webkit-scrollbar-thumb
    border-radius 10px
    background-color #f56c6c
    -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)

ul
  margin 0
  padding 0
  list-style none

.container
  margin 0 auto
  max-width 1200px
  width 100%
