
// colors

$color-white = #fff
$color-black = #000

$color-primary = #409eff
$color-success = #67c23a
$color-warning = #e6a23c
$color-danger = #f56c6c
$color-info = #909399

$color-success-light = #e1f3d8
$color-warning-light = #faecd8
$color-danger-light = #fde2e2

$color-success-lighter = #f0f9eb
$color-warning-lighter = #fdf6ec
$color-danger-lighter = #fef0f0
$color-info-lighter = #f4f4f5

$color-text-primary = #303133
$color-text-regular = #606266
$color-text-secondary = #909399
$color-text-placeholder = #c0c4cc
$color-text-disabled = #bbb

$color-primary-light-2 = #66b1ff
$color-primary-light-4 = #8cc5ff
$color-primary-light-5 = #a0cfff
$color-primary-light-6 = #b3d8ff
$color-primary-light-7 = #c6e2ff
$color-primary-light-8 = #d9ecff
$color-primary-light-9 = #ecf5ff

$color-icon = #666

// link

$color-link = $color-primary-light-2
$color-link-hover = $color-primary

$color-background-base = #f5f7fa

// border

$border-color-base = #dcdfe6
$border-color-light = #e4e7ed
$border-color-lighter = #ebeef5
$border-color-extra-light = #f2f6fc
$border-color-hover = $color-text-placeholder
$border-base = 1px solid $border-color-base
$border-radius-base = 4px
$border-radius-small = 2px
$border-radius-cricle = 100%

// font
$font-path = '../fonts'
$font-size-base = 14px
$font-size-small = 13px
$font-size-large = 18px
$font-weight-primary = 500

// z-index
$zindex-normal = 1
$zindex-top = 1000
$zindex-popper = 2000

// break point

$break-sm = 768px
$break-md = 992px
$break-lg = 1200px
$break-xs = 1900px

// dialog

$dialog-box-shadow = 0 1px 3px rgba(0, 0, 0, 0.3)

// box-shadow
$box-shadow-light = 0 2px 12px 0 rgba(0, 0, 0, 0.1)

// table

$table-fixed-box-shadow = 0 0 10px rgba(0, 0, 0, .12)
