// 变量表
// 已被引入每个 vue 组件中
// 参见 /build/utils.js 中 stylusOptions 部分

// size
$xs = 8px
$sm = 16px
$md = 24px
$lg = 48px
$xl = 64px

// colors
$color-white = #fff
$color-black = #000

$color-background-base = #f5f7fa
$color-background-dark = #1b1c1d

$color-primary = #00a7de
$color-success = #67c23a
$color-warning = #e6a23c
$color-danger = #f56c6c
$color-info = #909399

$color-text-primary = #303133
$color-text-regular = #606266
$color-text-secondary = #909399
$color-text-placeholder = #c0c4cc
$color-text-disabled = #bbb

// link
$color-link = lighten($color-primary, 20%)
$color-link-hover = $color-primary

// border
$border-color-base = #dcdfe6
$border-color-light = #e4e7ed
$border-color-lighter = #ebeef5
$border-color-extra-light = #f2f6fc
$border-color-hover = $color-text-placeholder
$border-base = 1px solid $border-color-base
$border-radius-base = 4px
$border-radius-small = 2px
$border-radius-cricle = 100%

// font
$font-path = '../fonts'
$font-size-base = 14px
$font-size-small = 13px
$font-size-middle = 16px
$font-size-large = 18px
$font-weight-primary = 500

// z-index
$zindex-normal = 1
$zindex-top = 1000
$zindex-popper = 2000

// break point
$break-sm = 768px
$break-md = 992px
$break-lg = 1200px
$break-xs = 1900px

// dialog
$dialog-box-shadow = 0 1px 3px rgba(0, 0, 0, 0.3)

// box-shadow
$box-shadow-light = 0 2px 12px 0 rgba(0, 0, 0, 0.1)

// table
$table-fixed-box-shadow = 0 0 10px rgba(0, 0, 0, .12)
